<html>
   <head>
        <title>Layout</title>
        <link rel="stylesheet" href="style.css"></link>
   </head>
   <body>           
        <div class="container">
            <div class="header">Rummycircle.com</div>
            <div class="left-nav">Left Side</div>
            <div class="body">
                <div class="menu-container">
                    <ul id="nav-bar">
                        <li>
                                <a href="" id="link-1">Link 1 &nbsp; </a>
                        </li>  
                        <li>
                                <a href="" id="link-2">Link 2 &nbsp; </a>
                                <ul class="sub1">
                                        <li><a href="#">Menu 4.1</a></li>
                                        <li><a href="#">Menu 4.2</a></li>
                                        <li><a href="#">Menu 4.3</a>
                                            <ul class="sub2">
                                                <li><a href="#">Menu 4.3.1</a></li>
                                                <li><a href="#">Menu 4.3.2</a></li>
                                                <li><a href="#">Menu 4.3.3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                        </li>  
                        <li>
                                <a href="" id="link-3">Link 3 &nbsp; </a>
                        </li>  
                        <li>
                                <a href="" id="link-4">Link 4 &nbsp; </a>
                        </li>  
                        <li>
                                <a href="" id="link-5">Link 5 &nbsp; </a>
                        </li>  
                        <li>
                                <a href="" id="link-6">Link 6 &nbsp; </a>
                        </li>  
                    </ul>
                </div>
                <div class="content">
                    <div class="input-container"> 
                        <label>Username</label>
                        <input type="textbox" name="username"/>
                        <span class="tooltip">Enter your username.</span>
                    </div>
                </div>
            </div>
            <div class="right-nav">Right Side</div>
            <div class="footer">Footer</div>
        </div>
   </body>
</html>